@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.client-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid $btn-color;
    background: $bg-gradient-dark;
    padding: 24px 14px;
    gap: 30px;

    @include tablet {
        padding: 42px 18px;
        gap: 26px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
        padding: 48px 22px;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
    }
}
