@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.client-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid $btn-color;
    background: $bg-gradient-dark;
    padding: 14px;
    gap: 30px;

    @include tablet {
        padding: 20px;
        gap: 26px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include large-tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
        padding: 24px;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
    }

    .empty-container {
        grid-column: 1 / -1;
        justify-self: center;
    }
}
