@use '../utils/variables' as *;

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-accent-gray;
    color: $white;
    font-size: 1.3rem;
}
