@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.task-card {
    border-radius: 20px;
    background: $bg-gradient-main;
    padding: 12px 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.5s;
    margin: 0 auto;
    border-left: 4px solid $todo;

    @include tablet {
        gap: 12px;
        padding: 18px 38px;
        border-left: 8px solid $todo;
    }

    @include desktop {
        padding: 22px 46px;
        gap: 14px;

        &:hover {
            transform: scale(1.1);
        }
    }

    &--done {
        border-left: 4px solid $done;

        @include tablet {
            border-left: 8px solid $done;
        }
    }

    &--in-progress {
        border-left: 4px solid $in-progress;

        @include tablet {
            border-left: 8px solid $in-progress;
        }
    }

    &__title {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.3rem;
        }
    }

    &__text {
        font-size: 1rem;

        @include tablet {
            font-size: 1.1rem;
        }
    }

    &__btn {
        color: $white;
        background: $black;
        padding: 4px 10px;
        margin: 0 auto;
        max-width: 240px;
        width: 100%;
        height: 46px;
        font-size: 1rem;
        border-radius: 16px;
        cursor: pointer;
        font-weight: 400;
        border: 1px solid $color-dark-gray;
        transition: all 0.5s ease-in-out;

        &:hover {
            background: $color-accent-gray;
            color: $black;
        }

        &.del:hover {
            background: $delete;
            color: $black;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 6px;
    }

    &__status-btn {
        flex-grow: 1;
        padding: 4px 6px;
        border-radius: 16px;
        font-size: 0.8rem;
        width: 110px;
        height: 36px;
        color: $white;
        cursor: pointer;
        font-weight: 400;
        background: $black;
        border: 1px solid $color-dark-gray;
        transition: all 0.5s ease-in-out;

        &.done:hover {
            background: $done;
            color: $black;
        }

        &.in-progress:hover {
            background: $in-progress;
            color: $black;
        }
    }
}
