@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

.client-search {
    position: relative;
    width: 100%;
    max-width: 600px;

    &:focus-within {
        .client-search__icon {
            color: $black;
        }
    }

    @include tablet {
        max-width: 700px;
    }

    &__icon {
        position: absolute;
        color: $color-light-gray;
        width: 26px;
        height: 26px;
        top: calc(50% - 14px);
        left: 10px;
        transition: color 0.3s ease-in-out;
    }

    &__input {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        background: $white;
        color: $black;
        border-radius: 12px;
        padding: 10px 16px 10px 48px;

        @include tablet {
            font-size: 1.1rem;
        }

        @include desktop {
            padding: 12px 20px 12px 48px;
        }
    }
}
