@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

.main-container {
    @include container;
}
