$bg-gradient-main: linear-gradient(40deg, rgba(40, 40, 46, 1) 15%, rgba(48, 62, 66, 1) 50%, rgba(33, 36, 36, 1) 85%);
$bg-gradient-dark: linear-gradient(40deg, rgba(18, 17, 17, 1) 8%, rgba(26, 28, 28, 1) 43%, rgba(19, 20, 20, 1) 88%);

$btn-color: #303E42;
$btn-hover-color: #636E78;
$color-dark-gray: rgb(35, 35, 36);      
$color-light-gray: rgb(111, 111, 111);  
$color-accent-gray: rgb(138, 138, 144); 
$white: #ffffff;
$black: #000000;
$delete: #ac2929cb;
$done: #2ecc71;
$in-progress: #f1c40f;
$todo: #2465a59f;

$container-width: 1440px;
$container-padding: 0 24px;

$bp-tablet: 768px;
$bp-desktop: 1280px;